@use "../helpers/index" as *;
@use "../../node_modules/bootstrap/scss/bootstrap.scss" as *;

section.contact {
	padding-bottom: 300px;
	.alert {
		display: none;
	}
	h3 {
		font-size: 24px;
		color: #fff;
		font-weight: 300;
		margin-bottom: 60px;
	}
	p {
		color: #fc4545;
		font-size: 14px;
		margin-bottom: 31px;
		display: none;
	}
	form {
		.input-group {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			width: 100%;
			margin-bottom: 34px;
			label {
				display: block;
				font-size: 12px;
				text-transform: uppercase;
				color: #fff;
				margin-bottom: 2px;
				sup {
					color: #fc4545;
					font-size: 12px;
					top: 0;
				}
				span {
					color: #999;
					text-transform: none;
				}
			}
			input,
			textarea {
				display: block;
				color: #fff;
				width: 100%;
				border: none;
				background: none;
				font-size: 18px;
				padding: 0;
				transition: 0.2s;
				padding-bottom: 3px;
				outline: none;
			}
			textarea {
				height: 140px;
				border-bottom: 1px solid #555;
				resize: none;
			}
			&.upload-attachment {
				position: relative;
				label {
					overflow: hidden;
					position: relative;
					display: inline-flex;
					align-items: center;
					gap: 10px;
					i {
						font-size: 18px;
						display: block;
						margin-bottom: 2px;
						color: #fff;
					}
					input {
						position: absolute;
						left: 0;
						top: 0;
						opacity: 0;
					}
				}
			}
			.button {
				width: 243px;
			}
		}
	}
	.contact-items {
		// gap: 20px;
		.contact-item {
			border: 1px solid #565656;
			border-radius: 20px;
			transition: 0.3s;
			padding: 10px 48px 41px;
			margin-top: 130px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			cursor: pointer;
			&:hover {
				border-color: var(--main-color);
			}
			i {
				font-size: 50px;
				color: var(--main-color);
				margin-bottom: 10px;
			}
			h2 {
				color: #fff;
				font-size: 30px;
				font-weight: 300;
				margin-bottom: 8px;
			}
			p {
				font-size: 18px;
				color: #fff;
				transition: 0.3s;
				display: block;
			}
			a {
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				i {
					color: #fff;
					font-size: 20px;
					margin: 0;
					transition: 0.3s;
				}
				span {
					color: #fff;
					margin-right: 5px;
					transition: 0.3s;
				}
				&:hover {
					i,
					span {
						color: var(--main-color);
					}
				}
			}
		}
	}
}
