@use "../helpers/index.scss" as *;
@use "../../node_modules/bootstrap/scss/bootstrap.scss" as *;

body.page-07 {
	.icon-menu {
		background-color: #000;
	}
}

.icon-menu {
	width: 55px;
	height: 55px;
	border: 1px solid #575757;
	border-radius: 50%;
	position: absolute;
	top: 60px;
	right: 68px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
	cursor: pointer;
	transition: 0.3s;
	z-index: 99;
	// background-color: #000;
	background-color: #1f1f1f;
	@media (max-width: 1220px) {
		position: fixed;
	}
	.bar {
		display: block;
		width: 20px;
		height: 2px;
		background-color: #fff;
		transition: 0.3s;
	}
	&:hover {
		border-color: var(--main-color);
		.bar {
			background-color: var(--main-color);
		}
	}
}
