@use "../helpers/index.scss" as *;
@use "../../node_modules/bootstrap/scss/bootstrap.scss" as *;

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 5px;
	border-radius: 6px;
	background: var(--main-color);
}
