@use "../helpers/index.scss" as *;
@use "../../node_modules/bootstrap/scss/bootstrap.scss" as *;

.header {
	.subtitle {
		font-size: 12px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 300;
		margin: 0;
		border: 1px solid #565656;
		padding: 9px 20px;
		border-radius: 30px;
		margin-bottom: 53px;
		display: inline-flex;
		align-items: center;
		span {
			color: #fff;
		}
		I {
			color: #999;
			margin-bottom: 1px;
			font-size: 11px;
			margin-right: 10px;
		}
	}
	h1 {
		font-size: 48px;
		line-height: 60px;
		color: #fff;
		font-weight: 300;
		margin-bottom: 33px;
		span {
			color: var(--main-color);
		}
	}
}
